<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#389EF0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
        <link rel="shortcut icon" type="image/png"
            href="{% static 'favicon.ico' %}" />
        <link rel="apple-touch-icon" href="{% static 'icon.png' %}" />

        <title>Tech Pills</title>

        <script src="{% static 'bower_components/webcomponentsjs/webcomponents-lite.min.js' %}"></script>
        <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

        <!-- Custom stylesheet -->
        <link rel="import"
            href="{% static 'style.html' %}">

        <!-- Polymer components -->

        <link rel="import"
            href="{% static 'bower_components/paper-button/paper-button.html' %}">

        <!-- Custom elements -->

        <link rel="import"
            href="{% static 'elements/h-box.html' %}">
        <link rel="import"
            href="{% static 'elements/v-box.html' %}">
        <link rel="import"
            href="{% static 'elements/fs-box.html' %}">
        <link rel="import"
            href="{% static 'elements/floating-img.html' %}">
        <link rel="import"
            href="{% static 'elements/ytvid-element.html' %}">
        <link rel="import"
            href="{% static 'elements/social-card.html' %}">
        <link rel="import"
            href="{% static 'elements/footer-element.html' %}">
    </head>
    <body>
        <fs-box bg="{% static 'assets/clouds.svg' %}">
            <h-box wrap>
                <v-box>
                    <h1 id="tp-title">Tech Pills</h1>
                    <floating-img imgsrc="{% static 'assets/logo.svg' %}"></floating-img>
                </v-box>

                <v-box>
                    <ytvid-element title="{{videos.0.title}}" imgsrc="{{videos.0.thumb}}" vidurl="{{videos.0.url}}">
                    </ytvid-element>
                    <ytvid-element title="{{videos.1.title}}" imgsrc="{{videos.1.thumb}}" vidurl="{{videos.1.url}}">
                    </ytvid-element>
                </v-box>

            </h-box>
        </fs-box>

        <fs-box bg="{% static 'assets/laptop.svg' %}">
            <h-box>

                <paper-button onclick="location.href='/blog'">
                    <span class="allpagetxt">B L O G</span>
                </paper-button>

            </h-box>
        </fs-box>

        <fs-box bg="{% static 'assets/phones.svg' %}">
            <h-box wrap>

                <social-card
                    name="Discord"
                    link="https://discord.gg/Veq3btv"
                    nick="Join the Discord server"
                    pic="{% static 'assets/social/discord.png' %}"
                ></social-card>


                <social-card
                    name="Twitter"
                    link="https://twitter.com/GabMus207"
                    nick="@GabMus207"
                    pic="{% static 'assets/social/twitter.png' %}"
                ></social-card>


                <social-card
                    name="Instagram"
                    link="https://www.instagram.com/gabmus207/"
                    nick="@GabMus207"
                    pic="{% static 'assets/social/instagram.png' %}"
                ></social-card>

                <social-card
                    name="GitHub"
                    link="https://github.com/GabMus"
                    nick="@GabMus"
                    pic="{% static 'assets/social/github.png' %}"
                ></social-card>

                <social-card
                    name="Google+"
                    link="https://plus.google.com/+GabrieleMusco"
                    nick="+Gabriele Musco"
                    pic="{% static 'assets/social/gplus.png' %}"
                ></social-card>

            </h-box>
        </fs-box>

        <fs-box bg="{% static 'assets/vectorsetup.svg' %}">
            <h-box>

                <paper-button onclick="location.href='/gear'">
                    <span class="allpagetxt">G E A R</span>
                </paper-button>

            </h-box>
        </fs-box>
        <footer-element></footer-element>
        <script>
        </script>
    </body>
</html>
